{% extends 'base/base_home.html'%}
{% load staticfiles %}

{%block title%}Establecimiento - eFact{% endblock %}

{%block content%}
<div class="jumbotron">
    <div class="col-md-5">
        <form action="" method="POST" id="form-establecimiento">
            <h3>Establecimiento</h3>
            <!-- {% if messages %}
            <div class="alert-success">
                {% for message in messages %}
                <li> {{ message }} </li>
                {% endfor %}
            </div>
            {% endif %} -->

            <div class="" id="msg-success">

            </div>
            {% csrf_token %}
            <div class="form-group-p">
                <label for="">Dirección:</label><br>
                <span id="msg-direccion" class="span-alert"></span>
                <input type="text" class="form-control-p" name="direccion" id="id_direccion">
            </div>
            <div class="form-group-p">
                <label for="">Ubigeo:</label><br>
                <span id="msg-ubigeo" class="span-alert"></span>
                <input type="number" class="form-control-p" name="ubigeo" id="id_ubigeo">
            </div>

            <div class="form-group-p">
                <label for="">Tipo:</label><br>
                <span id="msg-tipo" class="span-alert"></span>
                <select name="tipo_establecimiento" id="id_tipo" class="form-control-p">
                    <option value="Anexo">Anexo</option>
                    <option value="Domicilio fiscal">Domicilio Fiscal</option>
                    
                </select>
            </div>

            <div class="form-group-p">                   
                <input type="submit" value="Registrar" class="btn btn-primary btn-small">
            </div>
        </form>
    </div>

    <hr>

    <div col-md-12 id="panel-table" class="table-responsive">
        <table class="table table-bordered table-hover small">
            <thead>
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        DIRECCION
                    </td>
                    <td>
                        TIPO DE ESTABLECIMIENTO
                    </td>
                    <td>
                        UBIGEO
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tfoot>
    
            </tfoot>
            <tbody>
                {% if establecimientos %}
                {% for item in establecimientos %}
                <tr id="tr_{{item.id}}">
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td id="td_direccion_{{item.id}}">
                        {{item.direccion}}
                        
                    </td>
                    <td id="td_tipo_establecimiento_{{item.id}}">
                        {{item.tipo_establecimiento}}
                        
                    </td>
                    <td id="td_ubigeo_{{item.id}}">
                        {{item.ubigeo}}
                        
                    </td>
                    <td id="td_actions_{{item.id}}">
                        <a onclick="editEstablecimiento('{{item.id}}','{{item.direccion}}','{{item.tipo_establecimiento}}','{{item.ubigeo}}')" class="btn btn-warning btn-sm">Editar</a>
                        <a onclick="deleteEstablecimiento('{{item.id}}','{{item.direccion}}')" class="btn btn-danger btn-sm">Eliminar</a>
                        
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}


{% block scripts %}

<script>

$("#id_direccion").focus()


function validForm(){
    var direccion=$("#id_direccion").val();
    var ubigeo=$("#id_ubigeo").val();
    var tipo=$("#id_tipo").val();

    console.log(direccion)

    if (direccion=='' || ubigeo=='' || tipo=='') {
        return false
    } else {
        return true
    }
}

$("#form-establecimiento").on("submit",function(e){
    e.preventDefault()
    
    if (validForm()==true) {      
    
        $.ajax({
            method:"POST",
            url:'{% url "establecimiento:index"%}',
            data:$('#form-establecimiento').serialize(),
            success:function(data){                  
                $("#panel-table").load(" #panel-table>*","");        
                $("#msg-direccion").html('')
                $("#msg-ubigeo").html('')
                $("#msg-tipo").html('')
                $("#msg-success").html('<div class="alert-success"><label>Registro exitoso</label></div>')
            }
        })
    } else {
        var msg='Complete este campo'
        $("#msg-direccion").html(msg)
        $("#msg-ubigeo").html(msg)
        $("#msg-tipo").html(msg)
        $("#msg-success").html('')
    }
})



function editProduct(id,nombre,precio){
    var id_producto=id;
    
    
    

    $("#td_nombre_"+id).html("<input type='text' value='"+nombre+"' class='form-control-p' id='edit_nombre_"+id+"'/> ");
    $("#td_precio_"+id).html("<input type='text' value='"+precio+"' class='form-control-p' id='edit_precio_"+id+"' step='0.1'/> ");
    $("#td_actions_"+id).html('<a href="#" id="guardar_'+id+'">Guardar</a>')
    $("#edit_"+id).focus();


    var v_nombre=$("#edit_nombre_"+id).val();
    var v_precio=$("#edit_precio_"+id).val();

    $("#edit_nombre_"+id).keyup(function(){
        v_nombre=$("#edit_nombre_"+id).val();
    })
    $("#edit_precio_"+id).keyup(function(e){       
        
        if(e.keyCode==188){
            return false;
        }
        v_precio=$("#edit_precio_"+id).val();
        
    })
    
    
    $("#guardar_"+id).on("click",function(){
        $.ajax({
            method:"POST",
            // url:'update/'+id+'/'+nombre+'/'+precio,
            url:'{% url "producto:update"%}',
            // contentType:'application/json',
            data:{
                'id':id_producto,
                'nombre':v_nombre,
                'precio':v_precio,
            },
            success:function(data){                  
                // $("#panel-table").load(" #panel-table>*","");        
                $("#tr_"+id).load(" #tr_"+id+">*","");    
            }
        })
    })
    
}
function deleteProduct(id,nombre){
    var id_producto=id;

    var c=confirm("¿Está seguro que desea eliminar el producto "+nombre+"?")
    if(c==true){
        $.ajax({
            method:"POST",
            // url:'update/'+id+'/'+nombre+'/'+precio,
            url:'{% url "producto:delete"%}',
            // contentType:'application/json',
            data:{
                'id':id_producto,                
            },
            success:function(data){                  
                // $("#panel-table").load(" #panel-table>*","");        
                $("#tr_"+id).load(" #tr_"+id+">*","");       
                
            }
        })
    }
    else{
        return false;
    }
}


</script>
{% endblock %}
