{% extends 'base/base_home.html'%}
{% load staticfiles %}

{%block title%}Establecimiento - eFact{% endblock %}

{%block content%}
<div class="jumbotron">
    <div class="col-md-5">
        <form action="" method="POST" id="form-establecimiento">
            <h3>Establecimiento</h3>
            <!-- {% if messages %}
            <div class="alert-success">
                {% for message in messages %}
                <li> {{ message }} </li>
                {% endfor %}
            </div>
            {% endif %} -->

            <div class="" id="msg-success">

            </div>
            {% csrf_token %}
            <div class="form-group-p">
                <label for="">Dirección:</label><br>
                <span id="msg-direccion" class="span-alert"></span>
                <input type="text" class="form-control-p" name="direccion" id="id_direccion">
            </div>
            <div class="form-group-p">
                <label for="">Ubigeo:</label><br>
                <span id="msg-ubigeo" class="span-alert"></span>
                <input type="number" class="form-control-p" name="ubigeo" id="id_ubigeo">
            </div>

            <div class="form-group-p">
                <label for="">Tipo:</label><br>
                <span id="msg-tipo" class="span-alert"></span>
                <select name="tipo_establecimiento" id="id_tipo" class="form-control-p">
                    <option value="Anexo">Anexo</option>
                    <option value="Domicilio fiscal">Domicilio Fiscal</option>
                    
                </select>
            </div>

            <div class="form-group-p">                   
                <input type="submit" value="Registrar" class="btn btn-primary btn-small">
            </div>
        </form>
    </div>

    <hr>

    <div col-md-12 id="panel-table" class="table-responsive">
        <table class="table table-bordered table-hover small">
            <thead>
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        DIRECCION
                    </td>
                    <td>
                        TIPO DE ESTABLECIMIENTO
                    </td>
                    <td>
                        UBIGEO
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tfoot>
    
            </tfoot>
            <tbody id="establecimiento-body">
                <!-- { if establecimientos %}
                { for item in establecimientos %}
                <tr id="tr_{{item.id}}">
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td id="td_direccion_{{item.id}}">
                        {{item.direccion}}
                        
                    </td>
                    <td id="td_tipo_establecimiento_{{item.id}}">
                        {{item.tipo_establecimiento}}
                        
                    </td>
                    <td id="td_ubigeo_{{item.id}}">
                        {{item.ubigeo}}
                        
                    </td>
                    <td id="td_actions_{{item.id}}">
                        <a onclick="editEstablecimiento('{{item.id}}','{{item.direccion}}','{{item.tipo_establecimiento}}','{{item.ubigeo}}')" class="btn btn-warning btn-sm">Editar</a>
                        <a onclick="deleteEstablecimiento('{{item.id}}','{{item.direccion}}')" class="btn btn-danger btn-sm">Eliminar</a>
                        
                    </td>
                </tr>
                { endfor %}
                { endif %} -->
            </tbody>
        </table>
    </div>
</div>



{% endblock %}


{% block scripts %}

<script>



$(document).ready(function(){
    listEstablecimiento()
    $("#id_direccion").focus()
})

function validForm(){
    var direccion=$("#id_direccion").val();
    var ubigeo=$("#id_ubigeo").val();
    var tipo=$("#id_tipo").val();

    if (direccion=='' || ubigeo=='' || tipo=='') {
        return false
    } else {
        return true
    }
}

$("#form-establecimiento").on("submit",function(e){
    e.preventDefault()
    // console.log(getUserSession())

    $.ajax({
        method:'get',
        url:'{% url "usuario:getUserSession" %}',
        success:function(data_id){
            if (validForm()==true) {      
    
                $.ajax({
                    method:"POST",
                    url:'{% url "establecimiento:create"%}',
                    // data:$('#form-establecimiento').serialize(),
                    data:JSON.stringify({
                        'direccion':$("#id_direccion").val(),
                        'tipo_establecimiento':$("#id_tipo").val(),
                        'ubigeo':$("#id_ubigeo").val(),
                        'usuario':data_id,
                    }),
                    contentType: "application/json",  
                    success:function(data){                  
                        // $("#panel-table").load(" #panel-table>*","");
                        listEstablecimiento()
                        $("#msg-direccion").html('')
                        $("#msg-ubigeo").html('')
                        $("#msg-tipo").html('')
                        $("#msg-success").html('<div class="alert-success"><label>Registro exitoso</label></div>')

                        $("#form-establecimiento")[0].reset()
                        $("#id_direccion").focus()
                    }
                })
            } else {
                var msg='Complete este campo'
                $("#msg-direccion").html(msg)
                $("#msg-ubigeo").html(msg)
                $("#msg-tipo").html(msg)
                $("#msg-success").html('')
            }
            
        }        
    })

    
})

function listEstablecimiento(){
    $.ajax({
        method:'get',
        url:'{% url "establecimiento:list" %}',
        dataType: 'json',
        success:function(data){          

        $("#establecimiento-body").html('')
        $.each(data, function(i, item) {         

         
            $("#establecimiento-body").append(              
                '<tr id="tr_'+item.id+'">'
                    +'<td>'+(i+1)+'</td>'
                    +'<td id="td_direccion_'+item.id+'">'+item.direccion+'</td>'
                    +'<td id="td_tipo_establecimiento_'+item.id+'">'+item.tipo_establecimiento+'</td>'
                    +'<td id="td_ubigeo_'+item.id+'">'+item.ubigeo+'</td>'
                    +'<td id="td_actions_'+item.id+'">'
                    +'<a onclick="editEstablecimiento('+item.id+',\''+item.direccion+'\',\''+item.tipo_establecimiento+'\',\''+item.ubigeo+'\')" class="btn btn-warning btn-sm">Editar</a>'
                    +'<a onclick="deleteEstablecimiento('+item.id+',\''+item.direccion+'\')" class="btn btn-danger btn-sm">Eliminar</a>'
                    +'</td>'
                +'</tr>'
            )
        });
        }
    })
}
function editEstablecimiento(id,direccion,tipo,ubigeo){
    var id_establecimiento=id;
    
    
    

    $("#td_direccion_"+id).html("<input type='text' value='"+direccion+"' class='form-control-p' id='edit_direccion_"+id+"'/> ");
    // $("#td_tipo_establecimiento_"+id).html("<input type='text' value='"+tipo+"' class='form-control-p' id='edit_tipo_"+id+"'/> ");
    $("#td_tipo_establecimiento_"+id).html(
        "<select value='"+tipo+"' class='form-control-p' id='edit_tipo_"+id+"'> "
        +'<option value="Anexo">Anexo</option>'
        +'<option value="Domicilio fiscal">Domicilio Fiscal</option>'
        +'</select>'        
        );
    $("#td_ubigeo_"+id).html("<input type='text' value='"+ubigeo+"' class='form-control-p' id='edit_ubigeo_"+id+"'/> ");
    $("#td_actions_"+id).html('<a href="#" id="guardar_'+id+'">Guardar</a>')
    $("#edit_"+id).focus();

    $("#edit_tipo_"+id).val(tipo)

    var v_direccion=$("#edit_direccion_"+id).val();
    var v_tipo_establecimiento=$("#edit_tipo_"+id).val();
    var v_ubigeo=$("#edit_ubigeo_"+id).val();

    $("#edit_direccion_"+id).keyup(function(){
        v_direccion=$("#edit_direccion_"+id).val();
    })
    $("#edit_tipo_"+id).on('change',function(e){   
        v_tipo_establecimiento=$("#edit_tipo_"+id).val();        
    })
    $("#edit_ubigeo_"+id).keyup(function(){
        v_ubigeo=$("#edit_ubigeo_"+id).val();
    })
    
    
    $("#guardar_"+id).on("click",function(){
        $.ajax({
            method:"PUT",
            // url:'update/'+id+'/'+nombre+'/'+precio,
            // url:'{% url "establecimiento:update"}',
            url:"update/"+id_establecimiento,
            // contentType:'application/json',
            data:JSON.stringify({
                // 'id':id_establecimiento,
                'direccion':v_direccion,
                'tipo_establecimiento':v_tipo_establecimiento,
                'ubigeo':v_ubigeo,
            }),
            contentType: "application/json",
            success:function(data){                  
                // $("#panel-table").load(" #panel-table>*","");        
                // $("#tr_"+id).load(" #tr_"+id+">*","");    
                listEstablecimiento()
            }
        })
    })
    
}
function deleteEstablecimiento(id,nombre){
    var id_establecimiento=id;

    var c=confirm("¿Está seguro que desea eliminar el establecimiento "+nombre+"?")
    if(c==true){
        $.ajax({
            method:"POST",
            // url:'update/'+id+'/'+nombre+'/'+precio,
            // url:'{% url "establecimiento:delete"}',
            url:"delete/"+id_establecimiento,
            // contentType:'application/json',
            // data:{
            //     'id':id_establecimiento,                
            // },
            contentType: "application/json",
            success:function(data){                  
                // $("#panel-table").load(" #panel-table>*","");        
                // $("#tr_"+id).load(" #tr_"+id+">*","");
                listEstablecimiento()    
                
            }
        })
    }
    else{
        return false;
    }
}
function getUserSession(){
    var id;
    $.ajax({
        method:'get',
        url:'{% url "usuario:getUserSession" %}',
        success:function(data){
            // console.log(data[0].pk);

            // id=data[0].pk
            id=data

            return data
            // console.log(id)
            
        }        
    })

   
    
}

</script>
{% endblock %}
