{% extends 'base/base_home.html'%}
{% load staticfiles %}

{%block title%}Producto-eFact{% endblock %}

{%block content%}
<div class="jumbotron">
    <div class="">
        <h3>Productos</h3>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFormProducto"
            aria-expanded="false" aria-controls="collapseFormProducto" id="btnCollapseFormProducto" >
            Agregar
        </button>
        <hr>
        <div class="collapse" id="collapseFormProducto">
                <div class="card card-block">
        <form action="" method="POST" id="form-producto">
                        

            <div class="" id="msg-success">

            </div>
            {% csrf_token %}
            <div class="row">
            <div class="col-md-5">
                <div class="form-group">                
                    <label for="">Nombre:</label><br>
                    <span id="msg-precio-unitario" class="span-alert"></span>
                    <input type="text" class="form-control-p" name="nombre" id="id_nombre">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Precio unitario (S/):</label><br>
                    <span id="msg-nombre" class="span-alert"></span>
                    <input type="number" class="form-control-p" name="precio_unitario" step="0.1" id="id_precio_unitario">
                </div>
            </div>

            <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Unidad de medida:</label><br>
                        <select name="unidad" id="id_unidad" class=" form-control-p" required>
                            <option value="">-- Seleccionar unidad --</option>
                            <option value="barriles">barriles</option>
                            <option value="cajas">cajas</option>
                            <option value="galones">galones</option>
                            <option value="gramos">gramos</option>
                            <option value="kilogramos">kilogramos</option>
                            <option value="latas">latas</option>
                            <option value="libras">libras</option>
                            <option value="litros">litros</option>
                            <option value="metros">metros</option>
                            <option value="metros cúbicos">metros cúbicos</option>
                            <option value="millares">millares</option>
                            <option value="toneladas cortas">toneladas cortas</option>
                            <option value="toneladas largas">toneladas largas</option>
                            <option value="toneladas métricas">toneladas métricas</option>
                            <option value="unidades">unidades</option>
                        </select>
                    </div>
                </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label for="">Establecimiento:</label><br>
                    <select name="establecimiento" id="id_establecimiento" class="establecimiento form-control-p" required>
                        <option value="">-- Seleccionar establecimiento --</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">  
                <label for="" style="opacity:0;">.</label> <br>                                
                <input type="submit" value="Registrar" class="btn btn-primary btn-small">
            </div>
        </div>
        </form>
    </div>
</div>
    </div>

    <hr>
    <!-- <input type="text" class="form-control-p inp-search" style="width:20%" id="search" placeholder="Buscar en la tabla ...">
    <hr> -->
    <div col-md-12 id="panel-table" class="table-responsive panel-table-main">
        <table class="table table-bordered table-hover small dataTable">
            <thead>
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        NOMBRE
                    </td>
                    <td>
                        UNIDAD DE MEDIDA
                    </td>
                    <td>
                        PRECIO UNITARIO (S/)
                    </td>
                    <td>
                        ESTABLECIMIENTO
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tfoot>
    
            </tfoot>
            <tbody id="producto-body">
                <!-- {% if productos %}
                {% for item in productos %}
                <tr id="tr_{{item.id}}">
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td id="td_nombre_{{item.id}}">
                        {{item.nombre}}
                        
                    </td>
                    <td class="text-right" style="padding-right:100px;" id="td_precio_{{item.id}}">
                        {{item.precio_unitario}}
                    </td>
                    <td id="td_actions_{{item.id}}">
                        <a onclick="editProduct('{{item.id}}','{{item.nombre}}','{{item.precio_unitario}}')" class="btn btn-warning btn-sm">Editar</a>
                        <a onclick="deleteProduct('{{item.id}}','{{item.nombre}}')" class="btn btn-danger btn-sm">Eliminar</a>
                        
                    </td>
                </tr>
                {% endfor %}
                {% endif %} -->
            </tbody>
        </table>
    </div>
</div>



{% endblock %}


{% block scripts %}

<script>

$("#id_nombre").focus()

$(document).ready(function(){
    listProduct()
    listEstablecimiento()
    $(".inp-search").focus()
})


function validForm(){
    var nombre=$("#id_nombre").val();
    var precio_unitario=$("#id_precio_unitario").val();

    if (nombre=='' || precio_unitario=='') {
        return false
    } else {
        return true
    }
}

$("#form-producto").on("submit",function(e){
    e.preventDefault()
    
    if (validForm()==true) {      
    
        $.ajax({
            method:"POST",
            url:'{% url "producto:create"%}',
            // data:$('#form-producto').serialize(),
            data:JSON.stringify({
                'nombre':$("#id_nombre").val(),
                'precio_unitario':$("#id_precio_unitario").val(),
                'establecimiento':$("#id_establecimiento").val(),
                'unidad':$("#id_unidad").val()
            }),
            contentType: "application/json",            
            success:function(data){                  
                // $("#panel-table").load(" #panel-table>*",""); 
                listProduct()       
                $("#msg-nombre").html('')
                $("#msg-precio-unitario").html('')
                $("#msg-success").html('<div class="alert-success"><label>Registro exitoso</label></div>')
                $("#form-producto")[0].reset()
                $("#id_nombre").focus()
            }
        })
    } else {
        var msg='Complete este campo'
        $("#msg-nombre").html(msg)
        $("#msg-precio-unitario").html(msg)
        $("#msg-success").html('')
    }
})

function listProduct(){
    $.ajax({
        method:'get',
        url:'{% url "producto:list" %}',
        dataType: 'json',
        success:function(data){
            console.log(data)
        $("#producto-body").html('')
        $.each(data, function(i, item) {         

         
            $("#producto-body").append(              
                '<tr id="tr_'+item.id+'">'
                    +'<td>'+(i+1)+'</td>'
                    +'<td id="td_nombre_'+item.id+'">'+item.nombre+'</td>'
                    +'<td id="td_unidad_'+item.id+'">'+item.unidad+'</td>'
                    +'<td id="td_precio_'+item.id+'">'+item.precio_unitario+'</td>'
                    +'<td id="td_establecimiento_'+item.id+'">'+item.establecimiento+'</td>'
                    +'<td id="td_actions_'+item.id+'">'
                    +'<a onclick="editProduct('+item.id+',\''+item.nombre+'\',\''+item.precio_unitario+'\',\''+item.establecimiento+'\')" class="btn btn-warning btn-sm">Editar</a>'
                    +'<a onclick="deleteProduct('+item.id+',\''+item.nombre+'\')" class="btn btn-danger btn-sm">Eliminar</a>'
                    +'</td>'
                +'</tr>'
            )
        });

        }
    })
    
}

function listEstablecimiento(){
    $.ajax({
        method:'get',
        url:'{% url "establecimiento:list" %}',
        dataType:'json',
        success:function(data){
            console.log(data)
            $.each(data, function(i, item) {
                $(".establecimiento").append(
                    '<option value="'+item.id+'">'+item.direccion+'</option>'
                )
            });
        }
    })
}

function editProduct(id,nombre,precio,establecimiento){
    var id_producto=id; 

    $("#td_nombre_"+id).html("<input type='text' value='"+nombre+"' class='form-control-p' id='edit_nombre_"+id+"'/> ");
    $("#td_precio_"+id).html("<input type='text' value='"+precio+"' class='form-control-p' id='edit_precio_"+id+"' step='0.1'/> ");
    $("#td_establecimiento_"+id).html("<select value='"+precio+"' class='form-control-p establecimiento' id='edit_establecimiento_"+id+"'></select> ");
    $("#td_actions_"+id).html('<a href="#" id="guardar_'+id+'">Guardar</a>')
    $("#edit_"+id).focus();

    

    listEstablecimiento()

    $("#edit_establecimiento_"+id).val(establecimiento)

    console.log(establecimiento)

    var v_nombre=$("#edit_nombre_"+id).val();
    var v_precio=$("#edit_precio_"+id).val();
    var v_establecimiento=establecimiento

    $("#edit_establecimiento_"+id).on('change',function(e){   
        v_establecimiento=$("#edit_establecimiento_"+id).val();        
    })

    $("#edit_nombre_"+id).keyup(function(){
        v_nombre=$("#edit_nombre_"+id).val();
    })
    $("#edit_precio_"+id).keyup(function(e){       
        
        if(e.keyCode==188){
            return false;
        }
        v_precio=$("#edit_precio_"+id).val();
        
    })
    
    
    $("#guardar_"+id).on("click",function(){
        $.ajax({
            method:"PUT",
            // url:'update/'+id+'/'+nombre+'/'+precio,
            // url:'{% url "producto:update"}',
            url:"update/"+id_producto,
            // contentType:'application/json',
            data:JSON.stringify({
                // 'pk':id_producto,
                'nombre':v_nombre,
                'precio_unitario':v_precio,
                'establecimiento':v_establecimiento,
            }),
            contentType: "application/json",
            success:function(data){                  
                // $("#panel-table").load(" #panel-table>*","");        
                // $("#tr_"+id).load(" #tr_"+id+">*","");    
                listProduct()
            }
        })
    })
    
}
function deleteProduct(id,nombre){
    var id_producto=id;

    var c=confirm("¿Está seguro que desea eliminar el producto "+nombre+"?")
    if(c==true){
        $.ajax({
            method:"DELETE",
            url:"delete/"+id_producto,
            // url:'{% url "producto:delete"}',
            contentType:'application/json',            
            success:function(data){                  
                
                // $("#tr_"+id).load(" #tr_"+id+">*","");    
                listProduct()   
                
            }
        })
    }
    else{
        return false;
    }
}


</script>
{% endblock %}
